## Import Required libraries

In [1]:
# import Pkg; Pkg.add("DataFrames")
# import Pkg; Pkg.add("CSV")

In [2]:
using DataFrames
using CSV

## Load Data for Inspection

In [3]:
train = CSV.read("data/train.csv")
test = CSV.read("data/test.csv")

train_size = size(train)
test_size = size(test)

println("Train Size: $train_size")
println("Test Size: $test_size")

Train Size: (891, 12)
Test Size: (418, 11)

### Training Data Columns

In [4]:
names(train)

12-element Array{Symbol,1}:
 :PassengerId
 :Survived
 :Pclass
 :Name
 :Sex
 :Age
 :SibSp
 :Parch
 :Ticket
 :Fare
 :Cabin
 :Embarked

In [5]:
names!(train, [:pid, :label, :class, :name, :sex, :age, :sibsp_count, :parch_count,
               :ticket, :fare, :cabin, :embarked])
names(train)

12-element Array{Symbol,1}:
 :pid
 :label
 :class
 :name
 :sex
 :age
 :sibsp_count
 :parch_count
 :ticket
 :fare
 :cabin
 :embarked

### Testing Data Columns

In [6]:
names(test)

11-element Array{Symbol,1}:
 :PassengerId
 :Pclass
 :Name
 :Sex
 :Age
 :SibSp
 :Parch
 :Ticket
 :Fare
 :Cabin
 :Embarked

In [7]:
names!(test, [:pid, :class, :name, :sex, :age, :sibsp_count, :parch_count,
               :ticket, :fare, :cabin, :embarked])
names(test)

11-element Array{Symbol,1}:
 :pid
 :class
 :name
 :sex
 :age
 :sibsp_count
 :parch_count
 :ticket
 :fare
 :cabin
 :embarked

## Inspect Survived

In [9]:
first(train, 10)

10×12 DataFrame. Omitted printing of 9 columns
│ Row │ pid   │ label │ class │
│     │ Int64 │ Int64 │ Int64 │
├─────┼───────┼───────┼───────┤
│ 1   │ 1     │ 0     │ 3     │
│ 2   │ 2     │ 1     │ 1     │
│ 3   │ 3     │ 1     │ 3     │
│ 4   │ 4     │ 1     │ 1     │
│ 5   │ 5     │ 0     │ 3     │
│ 6   │ 6     │ 0     │ 3     │
│ 7   │ 7     │ 0     │ 1     │
│ 8   │ 8     │ 0     │ 3     │
│ 9   │ 9     │ 1     │ 3     │
│ 10  │ 10    │ 1     │ 2     │

In [10]:
names(train)

12-element Array{Symbol,1}:
 :pid
 :label
 :class
 :name
 :sex
 :age
 :sibsp_count
 :parch_count
 :ticket
 :fare
 :cabin
 :embarked

In [11]:
describe(train)

12×8 DataFrame. Omitted printing of 4 columns
│ Row │ variable    │ mean     │ min                 │ median  │
│     │ Symbol      │ Union…   │ Any                 │ Union…  │
├─────┼─────────────┼──────────┼─────────────────────┼─────────┤
│ 1   │ pid         │ 446.0    │ 1                   │ 446.0   │
│ 2   │ label       │ 0.383838 │ 0                   │ 0.0     │
│ 3   │ class       │ 2.30864  │ 1                   │ 3.0     │
│ 4   │ name        │          │ Abbing, Mr. Anthony │         │
│ 5   │ sex         │          │ female              │         │
│ 6   │ age         │ 29.6991  │ 0.42                │ 28.0    │
│ 7   │ sibsp_count │ 0.523008 │ 0                   │ 0.0     │
│ 8   │ parch_count │ 0.381594 │ 0                   │ 0.0     │
│ 9   │ ticket      │          │ 110152              │         │
│ 10  │ fare        │ 32.2042  │ 0.0                 │ 14.4542 │
│ 11  │ cabin       │          │ A10                 │         │
│ 12  │ embarked    │          │ C                   │         │

In [12]:
typeof(train)

DataFrame