## Import Required libraries

In [12]:
# import Pkg; Pkg.add("DataFrames")
# import Pkg; Pkg.add("CSV")
# import Pkg; Pkg.add("Plots")

In [13]:
using Statistics
using DataFrames
using Plots
using CSV

## Load Data for Inspection

In [14]:
train = CSV.read("data/train.csv")
test = CSV.read("data/test.csv")

train_size = size(train)
test_size = size(test)

println("Train Size: $train_size")
println("Test Size: $test_size")

Train Size: (891, 12)
Test Size: (418, 11)

### Training Data Columns

In [15]:
columns = names(train)
dtypes = eltypes(train)

for i = 1:length(columns)
    c = columns[i]
    d = dtypes[i]
    
    println("Column: $c")
    println("Type:   $d")
    println("")
end

Column: PassengerId
Type:   Int64

Column: Survived
Type:   Int64

Column: Pclass
Type:   Int64

Column: Name
Type:   String

Column: Sex
Type:   String

Column: Age
Type:   Union{Missing, Float64}

Column: SibSp
Type:   Int64

Column: Parch
Type:   Int64

Column: Ticket
Type:   String

Column: Fare
Type:   Float64

Column: Cabin
Type:   Union{Missing, String}

Column: Embarked
Type:   Union{Missing, String}

In [16]:
names!(train, [:pid, :label, :class, :name, :sex, :age, :sibsp_count, :parch_count,
               :ticket, :fare, :cabin, :embarked])
names(train)

12-element Array{Symbol,1}:
 :pid
 :label
 :class
 :name
 :sex
 :age
 :sibsp_count
 :parch_count
 :ticket
 :fare
 :cabin
 :embarked

### Testing Data Columns

In [17]:
columns = names(test)
dtypes = eltypes(test)

for i = 1:length(columns)
    c = columns[i]
    d = dtypes[i]
    
    println("Column: $c")
    println("Type:   $d")
    println("")
end

Column: PassengerId
Type:   Int64

Column: Pclass
Type:   Int64

Column: Name
Type:   String

Column: Sex
Type:   String

Column: Age
Type:   Union{Missing, Float64}

Column: SibSp
Type:   Int64

Column: Parch
Type:   Int64

Column: Ticket
Type:   String

Column: Fare
Type:   Union{Missing, Float64}

Column: Cabin
Type:   Union{Missing, String}

Column: Embarked
Type:   String

In [18]:
names!(test, [:pid, :class, :name, :sex, :age, :sibsp_count, :parch_count,
              :ticket, :fare, :cabin, :embarked])
names(test)

11-element Array{Symbol,1}:
 :pid
 :class
 :name
 :sex
 :age
 :sibsp_count
 :parch_count
 :ticket
 :fare
 :cabin
 :embarked

## Inspect Survived

In [23]:
println(mean(train[:fare]))
println(minimum(train[:fare]))
println(maximum(train[:fare]))

32.20420796857464

┌ Warning: `getindex(df::DataFrame, col_ind::ColumnIndex)` is deprecated, use `df[!, col_ind]` instead.
│   caller = top-level scope at In[23]:1
└ @ Core In[23]:1
┌ Warning: `getindex(df::DataFrame, col_ind::ColumnIndex)` is deprecated, use `df[!, col_ind]` instead.
│   caller = top-level scope at In[23]:2
└ @ Core In[23]:2

0.0
512.3292

┌ Warning: `getindex(df::DataFrame, col_ind::ColumnIndex)` is deprecated, use `df[!, col_ind]` instead.
│   caller = top-level scope at In[23]:3
└ @ Core In[23]:3

In [10]:
names(train)

12-element Array{Symbol,1}:
 :pid
 :label
 :class
 :name
 :sex
 :age
 :sibsp_count
 :parch_count
 :ticket
 :fare
 :cabin
 :embarked

In [11]:
describe(train)

12×8 DataFrame. Omitted printing of 4 columns
│ Row │ variable    │ mean     │ min                 │ median  │
│     │ Symbol      │ Union…   │ Any                 │ Union…  │
├─────┼─────────────┼──────────┼─────────────────────┼─────────┤
│ 1   │ pid         │ 446.0    │ 1                   │ 446.0   │
│ 2   │ label       │ 0.383838 │ 0                   │ 0.0     │
│ 3   │ class       │ 2.30864  │ 1                   │ 3.0     │
│ 4   │ name        │          │ Abbing, Mr. Anthony │         │
│ 5   │ sex         │          │ female              │         │
│ 6   │ age         │ 29.6991  │ 0.42                │ 28.0    │
│ 7   │ sibsp_count │ 0.523008 │ 0                   │ 0.0     │
│ 8   │ parch_count │ 0.381594 │ 0                   │ 0.0     │
│ 9   │ ticket      │          │ 110152              │         │
│ 10  │ fare        │ 32.2042  │ 0.0                 │ 14.4542 │
│ 11  │ cabin       │          │ A10                 │         │
│ 12  │ embarked    │          │ C                   │         │

In [12]:
typeof(train)

DataFrame